<div class="home-container">
  <section class="welcome-section">
    <h1>Welcome to the Tennis Ladder</h1>
    <p>Your platform for organizing and managing tennis matches</p>
  </section>

  <section class="features-section">
    <div class="feature-card">
      <h2>Schedule Matches</h2>
      <p>Easily schedule and manage your tennis matches.  On the schedule matches page you can check the availability of other players and see your scheduled matches and other scheduled matches to help you find a time and opponent to play.  You can also update the court,  status, or time of a match you are scheduled to play in.  </p>
    </div>
    <div class="feature-card">
        <h2>Update Availability</h2>
        <p>Keep your availability up to date to help others find a time to play you.  Going to be out of town or otherwise unavailable?  Update your availability to let others know when you are free to play.  </p>
    </div>
    <div class="feature-card">
      <h2>Standings</h2>
      <p>Monitor your standing and performance in the ladder.  The ladder will run from 5/13/2025 to 7/13/2025.  The top 4 players will be invited to play in the a single elimination tournament beginning on 7/14/2025. 
         Ranking will be determined by matches won, sets won, and games won.  The finals will be played on 7/16/2025.</p>
    </div>

    <div class="feature-card">
        <h2>Report Scores</h2>
        <p>Within 24 hours after a match is played, the winner reports the scores to the system so that the standings can be updated.  The system will also send an email to the other player with the results.</p>
      </div>
  
  </section>
</div> 