<div class="standings-container">
  <h2>Ladder Standings</h2>

  <div *ngIf="isLoading" class="loading">
    Loading standings...
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <table *ngIf="!isLoading && !error && standings.length > 0" class="standings-table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Matches Won</th>
        <th>Matches Lost</th>
        <th>Games Won</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let standing of standings; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ standing.goesBy ? standing.goesBy : standing.firstName + ' ' + standing.lastName }}</td>
        <td>{{ standing.matchesWon }}</td>
        <td>{{ standing.matchesLost }}</td>
        <td>{{ standing.gamesWon }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!isLoading && !error && standings.length === 0" class="no-data">
    No standings data available.
  </div>
</div>
